.container {
  height: 90vh;
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
    grid-template-rows:130px 190px 190px 190px;
}
.cell {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  padding: 3rem;
/*  font-family: sans-serif;*/
    font-family: wendy one;
/*  padding:6px;*/
/*  color: grey;*/
/*  background-color: white; */
/*  border: black 2px solid;*/
padding: 25px 50px 75px 100px;

}
.cell-1 {
  background: #a33e77;
    grid-row:1;
    grid-column:1/4;
    font-size: 2 rem;
}
.cell-2 {
    background-image: url(2.png);
width: 450px;
    height: 190px
    object-fit: cover;
}

.cell-3 {
 
        background-image: url(3.jpg);
   width: 450px;
    height: 190px
    object-fit: cover;

}
.cell-4 {
        background-image: url(4.png);

}
.cell-5 {
  
     background-image: url(5.png);
}
.cell-6 {

         background-image: url(6.png);

}
.cell-7 {
 
             background-image: url(7.png);
    
    
}
.cell-8 {
 
             background-image: url(8.jpg);

    
}
.cell-9 {

             background-image: url(9.jpg);

}

.cell-10 {

             background-image: url(10.jpg);
    
}
.container { 
  grid-gap: 10px 10px; 
}

.2.jpg{
    
    
    opacity: 0.4;
}
